<div class="thumbnail" style="padding: 0">
  <div style="padding:4px">
    <a href="#launch2" data-toggle="modal">
        {{#if location.image}}
          <img alt="300x200" style="width: 100%" src="{{location.image}}">
        {{else}}
          <img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
        {{/if}}
      </a>
  </div>
  <div class="caption">
    <h3>{{name}}</h3>
    <p>brought to you by Scour</p>
    <p><i class="icon icon-map-marker"></i> {{location.city}}, {{location.state}}</p>
    <p>Starts: {{date}}</p>
    <p>Registration Fee: ${{registration_cost}}</p>
  </div>
  <div class="modal-footer" style="text-align: left">
    <div class="row">
      <div class="col-md-4"><b>{{registrant_count}}</b>
        <br/>
        <small>REGISTERED</small>
      </div>
    </div>
  </div>
</div>
